@import "utilities";

.easy-newsletter {
	margin: 10px 0px;
	width: 100%;
}

form#easy-newsletter-form {
	margin-top: 20px;
	// justify-content: space-between;
	// align-items: center;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	@media (min-width: 500px) {
		display: flex;
		width: 450px;
		// align-items: flex-end;s
	}
}

.easy-newsletter .input-field {
	margin-bottom: 12px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: calc(100% - 165px);
	height: 40px;
	position: relative;

	.wpens-error {
		color: red;
		position: absolute;
		top: 105%;
		color: white;
		padding: 5px;
		width: 100%;
		font-weight: 600;
	}
}

@media (max-width: 499px) {
	.easy-newsletter .input-field {
		width: 100% !important;
		justify-content: center !important;
	}
}
.input-field.input-submit {
	width: 150px;
	margin-left: auto;
}
.easy-newsletter .input-field label {
	margin-right: 8px;
	font-weight: 400;
	font-size: 1.25em;
	// margin-bottom: -5px;
	color: white;

	// visuallyhidden
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
input.wpens_email {
	border-bottom: 1px solid gray;
	width: 100%;
	padding: 0 5px;
	vertical-align: text-top;
	line-height: 1.5;
	height: 40px;

	&:focus {
		box-shadow: none;
		outline: none;
	}

	&::-webkit-input-placeholder {
		opacity: 0.8;
		color: white;
		font-size: 18px;
	}
}
#easy-newsletter-submit {
	background: #1a76d2;
	padding: 8px 18px;
	border-radius: 2px;
	font-weight: 600;
	width: 100%;
	color: white;
	max-width: 300px;
}

.wpens-message-container {
	color: white;
	font-size: 1.1em;
	padding-bottom: 16px;
	width: 100%;
	font-weight: 400;
	padding-top: 4px;

	&:after {
		font-family: "Material Icons";
		content: "check_circle";
		margin-left: 5px;
		font-size: 25px;
		vertical-align: middle;
	}
	&:empty {
		display: none;
	}
}

#signup-parallax-section .signup {
	&-heading {
		@media (max-width: 699px) {
			font-size: 36px !important;
		}
	}
}

#signup-wrapper {
	margin-top: 3em;
	margin-bottom: 1.5em;
	.headline {
		margin-top: -60px;
		margin-bottom: 70px !important;
		font-weight: 300 !important;
	}
}

.v-toolbar a {
	color: inherit !important;
	text-decoration: none;
}
.v-footer {
	font-size: 1.25rem;
}
.v-parallax::after {
	background: -webkit-linear-gradient(
		bottom,
		rgba(2, 15, 39, 0.5),
		rgba(2, 15, 39, 0.75)
	);
	background: -o-linear-gradient(
		bottom,
		rgba(2, 15, 39, 0.5),
		rgba(2, 15, 39, 0.75)
	);
	background: linear-gradient(
		to top,
		rgba(2, 15, 39, 0.5),
		rgba(2, 15, 39, 0.75)
	);
}
@media (max-width: 1199px) {
	.v-parallax {
		height: 400px !important;
	}
}
@media (max-width: 680px) {
	.v-parallax {
		height: 350px !important;
	}
	#signup-wrapper {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 680px) {
	#page-register .v-parallax {
		height: 250px !important;
	}
}

[v-cloak] > * {
	display: none;
}

#signup-parallax-section {
	.v-parallax {
		max-height: 400px !important;
	}
}

@import "features";
