// /******************************************************************
// Main OLC Stylesheet
// ******************************************************************/
.v-parallax__image {
	/* filter: grayscale(0.75) blur(5px) contrast(0.75); */
}
.v-parallax::after {
	content: "";
	background: linear-gradient(
		to top,
		rgba(13, 3, 29, 0.85),
		rgba(25, 25, 38, 0.85)
	);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	contain: strict;
	transition: inherit;
	z-index: 1;
}

.v-toolbar a {
	color: inherit !important;
	text-decoration: none;
}
